[submodule "dx-runtime"]
	path = dx-runtime
	url = git@github.com:DEEPX-AI/dx-runtime.git
	ignore = dirty
[submodule "dx-clip-demo"]
	path = dx-clip-demo
	url = git@github.com:DEEPX-AI/dx_clip_demo.git
	ignore = dirty
